export(BHMC.estimate,BlockModel.Gen,DCSBM.estimate,ECV.block,ECV.nSmooth.lowrank,ECV.Rank,LRBIC,NCV.select,NMI,RDPG.Gen,SBM.estimate,nSmooth,reg.SP,reg.SSP,ConsensusClust,RightSC,NSBM.estimate,NSBM.Gen)
import(Matrix,entropy,AUC)
importFrom("methods", "as")
importFrom("irlba","irlba")
importFrom("RSpectra","eigs_sym")
importFrom("poweRlaw","rplcon")
importFrom("stats", "kmeans", "quantile", "runif","rnorm")
