export(BHMC.estimate,BlockModel.Gen,DCSBM.estimate,ECV.block,ECV.nSmooth.lowrank,ECV.Rank,LRBIC,NCV.select,NMI,RDPG.Gen,SBM.estimate,nSmooth,reg.SP,reg.SSP,ConsensusClust,RightSC,NSBM.estimate,NSBM.Gen,LSM.PGD,USVT,network.mixing,network.mixing.Bfold,InformativeCore,smooth.oracle)
import(Matrix,entropy,AUC,sparseFLMM,mgcv)
importFrom("methods", "as")
importFrom("irlba","irlba")
importFrom("RSpectra","eigs_sym")
importFrom("poweRlaw","rplcon")
importFrom("pracma","sigmoid","logit")
importFrom("nnls","nnls")
importFrom("stats", "kmeans", "quantile", "runif","rnorm","lm","sd","binomial")
importFrom("data.table","CJ")

